/*-----Характеристика-----*/

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// .feature-ul {
//   // display: flex;
//   // &::before {
//   //   content: icon;
//   // }
// }

.feature-ul li {
  width: 100%;
  // width: 270px;
  // &:not(:last-child) {
  //   margin-right: 30px;
}

.feature-list {
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 1px;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  // margin: 25px auto;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    width: 270px;
  }
}

.feature-icon {
  position: absolute;
}

.feature .title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.title {
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.subject {
  margin-top: 10px;
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.subject:not(:last-child) {
  margin-bottom: 30px;
}
