/*-----Характеристика-----*/

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// .feature-ul {
//   // display: flex;
//   // &::before {
//   //   content: icon;
//   // }
// }

.feature-ul li {
  width: 100%;
  // width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.feature-list {
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 1px;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  // margin: 25px auto;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    width: 354px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    width: 270px;
  }
}

/*Цього немає в html, не знаю відкіля він*/
// .feature-list :not(:first-child) {
//   margin-bottom: 30px;
// }

// .feature-icon {
// }

.feature .title {
  // display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.title {
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.subject {
  display: flex;
  margin-top: 10px;
  // margin-bottom: 30px;
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
