/*Header*/

.header-container {
  display: flex;
  align-items: center;
}

/*---HEADER----*/
header {
  border-bottom: 1px solid #eeeeee;
}
/* Навигация по сайту */

/*nav*/
.nav {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  margin-right: 93px;
}

.logo__secondary {
  color: #000000;
  width: 145px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__text {
  color: var(--accent-color);
  width: 145px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/*Site-nav Studio*/

.site-nav {
  display: flex;
  & li:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &:hover::after,
  &:focus::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    bottom: 0;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-nav__portfolio {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  width: 76px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &:hover::after,
  &:focus::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    bottom: 0;
    display: block;
  }
}

.site-nav__contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  width: 68px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after,
  &:focus::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);

    bottom: 0;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*Contact-nav*/

.contact-nav {
  margin-left: auto;
  display: flex;
  & li:not(:last-child) {
    margin-right: 50px;
  }
}

.mailto {
  display: flex;
  align-items: center;

  color: var(--paragraph-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mailto-icon {
  margin-right: 10px;
}

.mailto:hover .mailto-icon,
.mailto:focus .mailto-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone {
  display: flex;
  align-items: center;

  color: var(--paragraph-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  fill: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.phone-icon {
  margin-right: 10px;
  .phone:hover &,
  .phone:focus & {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
