/*Header*/

.header-container {
  display: flex;
  align-items: center;
}

/*---HEADER----*/
header {
  border-bottom: 1px solid #eeeeee;
}
/* Навигация по сайту */

/*nav*/
.nav {
  display: flex;
  width: 100%;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    width: auto;
  }
}

.logo {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo__secondary {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__text {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/*Site-nav Studio*/

.site-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    & li:not(:last-child) {
      margin-right: 30px;
      @media screen and (min-width: 1200px) {
        margin-right: 50px;
      }
    }
  }
  // @media screen and (min-width: 1200px) {
  //   display: flex;
  //   & li:not(:last-child) {
  //     margin-right: 50px;
  //   }
  // }
}

.site-nav__current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &:hover::after,
  &:focus::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    bottom: 0;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-nav__portfolio {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  width: 76px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &:hover::after,
  &:focus::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    bottom: 0;
    display: block;
  }
}

.site-nav__contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after,
  &:focus::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);

    bottom: 0;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*Contact-nav*/

.contact-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    & li:not(:last-child) {
      margin-bottom: 10px;
      @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        margin-right: 50px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.mailto {
  display: flex;
  align-items: center;

  color: var(--paragraph-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.mailto-icon {
  margin-right: 10px;
}

.mailto:hover .mailto-icon,
.mailto:focus .mailto-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone {
  display: flex;
  align-items: center;

  color: var(--paragraph-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.phone-icon {
  margin-right: 10px;
  .phone:hover &,
  .phone:focus & {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*Button header open-close MOB-MENU*/

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  .container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    display: none;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    display: none;
  }
}

.header-button {
  display: block;
  margin-left: auto;
  border: none;
  background-color: #ffffff;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    display: none;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    display: none;
  }
}

.header-btn {
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header-button-close {
  border: none;
  background-color: #ffffff;
  // margin-left: auto;
}

.header-button-close {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
}

.header-btn-close {
  fill: #000000;

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mob-site-nav li {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-site-nav__current {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mob-site-nav__portfolio {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mob-site-nav__contact {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-phone {
  font-size: 34px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-mailto {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.7px;
  letter-spacing: 0.02em;
  color: #757575;
  display: block;
  margin-top: 32px;
}

.mob-title-soc-list {
  display: flex;
  margin-top: 64px;
}
.mob-title-soc-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-title-soc-link {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}

// .mob-title-soc-link {
//   position: relative;
//   padding-right: 10px;
// }

.mob-title-soc-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: rgba(33, 33, 33, 0.2);
      right: -10px;
      top: 0;
    }
  }
}

.no-scroll {
  overflow: hidden;
}
