/*------------Стили для PORTFOLIO.html-------------*/

/*----Site-nav-----*/
.link-current-one {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  width: 49px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.link-portfolio-one {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
  width: 76px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/*---SECTION----*/
.section-hero-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*------List-ul--------*/
.list-ul {
  display: flex;
  justify-content: center;
  & li:not(:last-child) {
    margin-right: 8px;
  }
}

/*-----Список фото---*/
/*---img-link----*/
.img-link {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
}

/*Flex element*/

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.cart-bg-shadow {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    -webkit-box-shadow: -1px 11px 4px -3px rgba(66, 68, 90, 0.35);
    -moz-box-shadow: -1px 11px 4px -3px rgba(66, 68, 90, 0.35);
    box-shadow: -1px 11px 4px -3px rgba(66, 68, 90, 0.35);
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*----TITLE-TOP--WRAP---*/

.title-top-wrap {
  position: relative;
  overflow: hidden;
}

.title-top-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 500ms linear;
  overflow: hidden;
  .flex-element:hover &,
  .flex-element:focus & {
    transform: translateY(0%);
  }
}

/*---img-portfolio---*/
.img-portfolio {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.title-second {
  margin-bottom: 4px;
}

.img-link .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.caption {
  color: var(--paragraph-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
