.button-primary {
  margin-top: 30px;
  display: inline-block;
  padding: 10px 32px;
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  min-width: 200px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
