/*------------MODAL-------------*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 68, 90, 0.35);
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  position: absolute;
  width: 550px;
  height: 550px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  border-radius: 1px;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  fill: #000000;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-size: 20px;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.modal-field {
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  padding-left: 30px;
  margin-top: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:valid {
    border-color: #2196f3;
  }
}

.modal-button {
  width: 200px;
  height: 50px;
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid #2196f3;
  margin-top: 30px;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #188ce8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.madal-label {
  font-size: 12px;
  line-height: 1.7px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-text {
  width: 100%;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  padding: 10px;
  margin-top: 4px;
  resize: none;
  outline: none;
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-input:hover + &,
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.check-text {
  font-size: 14px;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 4px;
    margin-right: 8px;
  }
  .input-check:checked + &::before {
    background-color: var(--accent-color);
    border: none;
    background-image: url(../images/check.svg.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.input-check:focus + .check-text::before {
  border-color: var(--accent-color);
}

.input-contract {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 3px;
}

.modal-text {
  height: 120px;
}
